@if (todoListViewModel?.TodoItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="itemList">
        <AntList DataSource="@todoListViewModel.TodoItems.OrderBy(x=>x.IsDone()).ThenBy(x=>x.DateAdded)" Size="small" TItem="TodoItem" OnItemClick="ItemClick">
            <Header>Todo list</Header>
            <ChildContent Context="item">
                <ListItem>
                    <span class="item">
                        <Icon Type="@(item.IsDone()? "check-circle" : "minus-circle")" Theme="@(item.IsDone()? "fill" : "outline")" Style="font-size: 30px; padding-right: 10px;" />

                        @if (item.IsDone())
                        {
                            <strike>@($"{item.DateAdded:d} - {item.Title}")</strike>
                        }
                        else
                        {
                            @($"{item.DateAdded:d} - {item.Title}")
                        }
                    </span>
                </ListItem>
            </ChildContent>
        </AntList>
    </div>
}

@code {
    [CascadingParameter(Name = "todoListViewModel")]
    ITodoViewModel? todoListViewModel { get; set; }

    public void ItemClick(TodoItem item)
    {
        todoListViewModel?.ChangeItemStatus(item);
    }
}

<style>
    .itemList{
        background-color: rgba(0,0,0,0.5);
        color: white;
    }

    .item {
        color: white;
    }

</style>
