@if (todoListViewModel?.TodoItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <AntList Bordered DataSource="@todoListViewModel.TodoItems.OrderBy(x=>x.IsDone()).ThenBy(x=>x.DateAdded)" TItem="TodoItem" OnItemClick="ItemClick">
        <Header>Todo list</Header>
        <ChildContent Context="item">
            <ListItem>
                <ListItemMeta>
                    <TitleTemplate>
                        <Icon Type="@(item.IsDone()? "check-circle" : "minus-circle")" Theme="@(item.IsDone()? "fill" : "outline")" Style="font-size: 30px; padding-right: 10px;" />

                        @if (item.IsDone())
                        {
                            <strike>@($"{item.DateAdded:d} - {item.Title}")</strike>
                        }
                        else
                        {
                            @($"{item.DateAdded:d} - {item.Title}")
                        }

                    </TitleTemplate>
                </ListItemMeta>
            </ListItem>
        </ChildContent>
    </AntList>
}

@code {
    [CascadingParameter(Name = "todoListViewModel")]
    ITodoViewModel? todoListViewModel { get; set; }

    public void ItemClick(TodoItem item)
    {
        todoListViewModel?.ChangeItemStatus(item);
    }
}
